body {
    text-align: center;
}

#startGameContainer {
    display: flex;
    flex-direction: column;
}

#gameSnapshot {
    width: 100%;
    height: auto;
}

#startGameBtnContainer {
    width: 100%;
    margin-top: 10px;
}


#startGameBtn {
    margin-top: 8px;
    display: inline-block;
    font-size: 16px;
    background-color: #FFDAB9;
}